<%= form_with(model: [@brain, @booking], local: true) do |form| %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :length_of_time %>
    <%= form.number_field :length_of_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
