<!-- app/views/bookings/index.html.erb -->
<div class="page">
  <h1>Your Bookings</h1>

  <% if @bookings.any? %>
    <ul>
      <% @bookings.each do |booking| %>
        <li>
          <%= link_to "#{booking.brain.name} - #{booking.start_date}", booking_path(booking) %> <%= "#{booking.status}" %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You have no bookings.</p>
  <% end %>

<div class="my-brain-status">
  <h1>My Brain Status:</h1>
  <% if @my_brain %>
    <ul>
      <li> Brain Name: <%= @my_brain.name %></li>
      <% if @my_brain.bookings.any? %>
        <li>Has someone booked my brain? Yes</li>
      <% else %>
        <li>Has someone booked my brain? No</li>
      <% end %>
      <li><%= link_to "Show My Brain", brain_path(@my_brain), class: 'btn button-link' %></li>
    </ul>
  <% else %>
    <p>You have not created a brain yet.</p>
  <% end %>
</div>
  <%= link_to "Back", brains_path, class: 'btn button-link' %>
</div>
