
<h1>Booking Details</h1>

<p><strong>Brain:</strong> <%= @booking.brain.name %></p>
<p><strong>Characteristics:</strong> <%= @booking.brain.characteristics %></p>
<p><strong>Description:</strong> <%= @booking.brain.description %></p>
<p><strong>Specialities:</strong> <%= @booking.brain.specialities %></p>
<p><strong>Length of Time:</strong> <%= @booking.length_of_time %> days</p>
<p><strong>Start Date:</strong> <%= @booking.start_date %></p>
<p><strong>Status:</strong> <%= @booking.status %></p>

<%= link_to "Edit Booking", edit_booking_path(@booking) %>
<%= link_to "Delete Booking", booking_path(@booking), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<%= link_to "Back to Your Bookings", my_bookings_path %>
