<%= form_with(model: @brain, local: true) do |form| %>
  <% if @brain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brain.errors.count, "error") %> prohibited this brain from being saved:</h2>

      <ul>
      <% @brain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :characteristics %>
    <%= form.text_area :characteristics %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :specialities %>
    <%= form.text_area :specialities %>
  </div>

  <div class="field">
    <%= form.label :available %>
    <%= form.check_box :available %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
