<%= form_with(model: @brain, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :characteristics %>
    <%= form.text_area :characteristics %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :specialities %>
    <%= form.text_area :specialities %>
  </div>

    <div class="field">
    <%= form.label :location %>
    <%= form.text_area :location %>
  </div>

  <div class="field">
    <%= form.label :available %>
    <%= form.check_box :available %>
  </div>

<div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
