<div class="page">
  <% if user_signed_in? %>
    <h2> Hi <%= current_user.first_name %> <%= current_user.last_name %> </h2>
    <p>Welcome to BrainStorm, your premium brain renting locale</p>

    <h2>Actions:</h2>
    <ul>
      <% if current_user && current_user.owned_brain.nil? %>
        <li><%= link_to "Create a Brain", new_brain_path, class: 'btn button-link' %></li>
      <% end %>
      <br>
      <%= link_to "My Current Booked Brains", my_bookings_path, class: 'btn button-link' %>
    </ul>

    <h2>My Brain Status:</h2>
    <% if @my_brain %>
      <ul>
        <li>Brain Name: <%= @my_brain.name %></li>
        <% if @my_brain.bookings.any? %>
          <li>Has someone booked my brain? Yes</li>
        <% else %>
          <li>Has someone booked my brain? No</li>
        <% end %>
        <li><%= link_to "Show My Brain", brain_path(@my_brain), class: 'btn button-link' %></li>
      </ul>
    <% else %>
      <p>You have not created a brain yet.</p>
    <% end %>
  <% end %>

  <h2>Book a Brain:</h2>
  <% if @brains.any? %>
    <ul>
      <% @brains.each do |brain| %>
        <li>
          <%= link_to brain.name, brain_path(brain), class: 'btn button-link' %>
          <% if brain.available %>
            (Available)
          <% else %>
            (Not Available)
          <% end %>
        </li>
        <br>
      <% end %>
    </ul>
  <% else %>
    <p>There are no brains available to be booked.</p>
  <% end %>
</div>

<div class="map-container"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= link_to "Log out", destroy_user_session_path, class: 'logout-link', data: { turbo_method: :delete } %>
