<div class="page">
  <% if user_signed_in? %>
    <h2> Hi <%= current_user.first_name %> <%= current_user.last_name %> </h2>
    <p> Welcome to BrainStorm, your premium brain renting locale </p>

    <h2>My Brain Status:</h2>
    <% if @my_brain %>
      <ul>
        <li> Brain Name: <%= @my_brain.name %></li>
        <% if @my_brain.bookings.any? %>
          <li>Has someone booked my brain? Yes</li>
        <% else %>
          <li>Has someone booked my brain? No</li>
        <% end %>
        <li><%= link_to "Show My Brain", brain_path(@my_brain), class: 'btn button-link' %></li>
      </ul>
    <% else %>
      <p> You have not created a brain yet.</p>
    <% end %>
  <% else %>
    <p> Welcome to BrainStorm, your premium brain renting locale </p>
  <% end %>



  <h2>Book a Brain:</h2>
  <% if @brains.any? %>
    <div class="cards-container">
      <% @brains.each do |brain| %>
        <div class="card-product">
        <% if brain.photo.attached?%>
            <%= cl_image_tag brain.photo.key, height: 300, width: 400, crop: :fill %>
         <% end %>
          <div class="card-product-infos">
           <h2><%= link_to brain.name, brain_path(brain)%></h2>
          <p><strong>Status:</strong>
            <% if brain.available %>
              Available
            <% else %>
              Not Available
            <% end %>
          </p>
        <p> <%=brain.description%></p>
        </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p> There are no brains available to be booked. </p>
  <% end %>

  <div class="map-container"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="logout-container">
  <%= link_to "Log out", destroy_user_session_path, class: 'logout-link', data: { turbo_method: :delete } %>
</div>
