<h1><%= @brain.name %></h1>

<p><strong>Characteristics:</strong> <%= @brain.characteristics %></p>
<p><strong>Description:</strong> <%= @brain.description %></p>
<p><strong>Specialities:</strong> <%= @brain.specialities %></p>


<%= link_to "Edit Brain", edit_brain_path(@brain) %>
<%= link_to "Delete Brain", @brain, method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Book this brain", new_brain_booking_path(@brain) %>
<%= link_to "Back to All Brains", brains_path %>
